@use "sass:color";
@use "../../vars" as *;
@use "../../mixins" as *;

.slot {
  position: relative;
  grid-column: var(--track);
  filter: hue-rotate(var(--hue));
}

.slot-bg-2 {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $orange-2;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.slot-bg-1 {
  z-index: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: $orange-1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.slot-content {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 0px;
  .slot-link {
    a {
      color: blue;
    }
  }
}

ul.slot-info {
  display: grid;
  grid-template-columns: 2em 1fr;

  .slot-title {
    display: block;
    grid-column: 1 / span 2;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1;
  }

  li {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 2;
    align-items: first baseline;
    line-height: 1.5;

    .slot-info-title {
      justify-self: center;
      margin-right: 0.5em;
      color: color.adjust($orange-1, $lightness: -40%);
    }

    .slot-info-value {
      justify-self: flex-start;
    }

    a {
      display: contents;

      .slot-info-value, .slot-info-title {
        color: $orange-1;
      }
    }
  }
}
.slot-title .now {
  color: white;
  font-size: 0.8em;
  background: $orange-1;
  display: inline-block;
  padding: 0.15em 0.2em;
  margin-left: 0.75ch;
}

