@use "sass:math";
@import "../../vars";
@import "../../mixins";

@function get-time($time) {
  $minutes: $time % 60;
  $hours: math.div($time - ($time % 60), 60) + 9;
  $prefix: "";
  @if ($minutes == 0) {
    $minutes: "00";
  }
  @if ($hours < 10) {
    $prefix: "0";
  }
  @return #{$prefix} + #{$hours} + #{$minutes};
}

@for $starting from 1 through 40 {
  .from-#{get-time(($starting ) * 15)} {
    grid-row-start: #{$starting + 1};
  }
}

@for $ending from 1 through 60 {
  .to-#{get-time(($ending ) * 15)} {
    grid-row-end: #{$ending + 1};
  }
}

