@import "../../vars";
@import "../../mixins";

.schedule-labels {
  grid-column: 1;
  display: grid;
  grid-template-columns: 55px;
  grid-auto-rows: 75px;
  @include mobile{
    grid-auto-rows: 75px;
  }
  @include tablet{
    grid-auto-rows: 75px;
  }
  grid-gap: 0px;
  @include darkModeFont($black-1, $white-1);
}

.main-label {
  border-top: 2px solid $orange-1;
}
