/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* COOL STUFF */



html,
body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  color: #5a544d;
  font-family: 'Lato', sans-serif;
  padding-top: 80px;
  text-align: center;
  word-wrap: break-word;
}

nav {
  background: #fff;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

a.nav-logo {
  border: 0;
  float: left;
}

a.nav-logo img {
  height: 40px;
}

.nav-links {
  float: right;
}

.nav-links a {
  display: inline-block;
  margin: 10px 0 0 15px;
  padding: 0;
}

.nav-links a:focus,
.nav-links a:hover {
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 46px;
  font-size: 7vw;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  font-size: 3vw;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-size: 2vw;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 5px;
}

b {
  font-weight: 700;
}

small {
  font-size: 85%;
  font-weight: 300;
}

.break-sm {
  padding-top: 10px;
}

.break-md {
  padding-top: 20px;
}

.break-lg {
  padding-top: 40px;
}

section {
  padding: 80px 0;
}

.lead {
  font-size: 150%;
  font-weight: 300;
}

section.hero {
  background: url(kansikuva2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #2d2204;

  text-align: left;

  padding-bottom: 22%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

section.hero .languages {
  bottom: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

section.hero .languages a {
  color: black;
  border-color: black;
}

section.hero.hero-companies {
  padding-bottom: 8%;
  padding-top: 8%;
}

section.section-skills {
  text-align: left;
}

section.section-skills p {
  line-height: 1.5;
  margin-bottom: 15px;
}

section.section-skills h3 {
  line-height: 1.1;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

section.hero > .container {
  z-index: 3;
  position: relative;
}

section.hero > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255,151,0,0.6);
}

section.hero p {
  font-size: 24px;
  font-weight: 400;
}

section.coop {
  color: #ccc;
  padding: 30px 20px 30px;
}

section.speeddate {

}

section.speeddates .speeddate {
  margin-bottom: 2rem;
}

section.speeddates .speeddate .speeddate-title {
  font-weight: 800;
}

footer {
  background: #222;
  padding: 40px 20px;
  text-align: center;
}

footer img {
  margin: 10px 10px;
  max-height: 70px;
  max-width: 100px;
  vertical-align: middle;
}

.centered-block {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

.hero-logo {
  max-width: 70%;
}


.logos {
  display: inline-block;
  margin: 0 auto 0;
  text-align: center;
}

.logos a {
  border: none;
}

.logos img {
  display: inline;
  margin: 13px 20px;
  max-height: 35px;
  max-width: 180px;
}


.chart-item {
  margin: 0 auto;
  min-height: 400px;
  min-width: 90%;
}

section.every-other {
  background: #eee;
}

section.darker {
  background: #333;
  color: #eee;
}

section.darker small,
section.darker .time {
  color: #aaa;
}

.section-last {
  background: url(last.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #fff;
}

.hero-heart {
  color: #ff3333;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.table-container {
  overflow: auto;
}

table.program {
  margin-bottom: 15px;
}

table.program-upper {
  margin: 15px auto 40px;
  max-width: 1000px;
  width: 100%;
}

table.program-upper td,
table.program-upper th {
  border-bottom: 3px solid #f4f4f4;
}


table.program-upper tr.hour-even td.time {
  font-weight: 700;
}

table.program-upper td.inactive {
  background: #eaeaea;
}

table.program-upper td.happenin {
  border-left: 3px solid #f4f4f4;
}
table.program-upper td.time,
table.program-upper th.time {
  text-align: center;
}

table.program td,
table.program th {
  padding: 5px 5px;
}

table.table-who.program td,
table.table-who.program th {
  padding: 0px 5px;
}

table.program td {
  font-size: 110%;
}
table.program th {
  font-size: 110%;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
}
td.time {
  font-weight: 300;
  min-width: 70px;
}
td.happenin {
}
td.happenin .title {
  font-weight: 700;
}
td.happenin p {
  font-size: 85%;
  font-weight: 300;
  line-height: 1.3;
}

td.happenin a {
  font-size: 85%;
  margin-top: 10px;
}


.row {
  margin: 0 -20px;
}
.row:after {
  clear: both;
  content: ' ';
  display: block;
  height: 1px;
  width: 100%;
}

.tables-row {
  margin: 0 auto;
  max-width: 1100px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 20px;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.66666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.66666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.66666%;
}

.col-12 {
  width: 100%;
}

a {
  border-bottom: 2px solid #666;
  color: #666;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.darker a {
  border-bottom: 2px solid #ccc;
  color: #ccc;
  text-transform: none;
}

a.bright {
  border-bottom: 2px solid #fffd00;
  color: #fffd00;
}

a:active,
a:focus,
a:hover {
  letter-spacing: 0.05em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 767px) {

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4vw;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
}

video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
