@import "../vars";
@import "../mixins";

.map {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  padding: 20px;
  overflow-x: scroll;
  width: 95vw;
  height: calc(100% - #{$nav-height} - #{$footer-height});
  background-color: white;
  img {
    padding-left: 20px;
    height: calc(100% - 40px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

.mapInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mapInfoEntry {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $black-1;
}

.mapImage {
  &:fullscreen {
    background-color: white;
  }
}

.fullScreenButton {
  border: 0;
  color: $orange-1;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  font-size: 1.0em;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  &:fullscreen {
    display: none;
  }
}

.areaHeader span {
  border-bottom: .125em solid $orange-1;
}

.boothTable {
  border-collapse: separate;
  border-spacing: 10px;

  tr:has(i) {
    i {
      font-size: 0.8em;
      color: $orange-1;
      transition-duration: 100ms;
      margin-right: 0.25em;
      margin-left: 0em;
    }

    &:hover i {
      margin-left: 0.25em;
      margin-right: 0em;
    }
  }
}

.boothCol {
  text-align: left;
  font-weight: 900;
}

.boothTableContainer {
  display: flex;
  width: auto;

  @media (max-width: $desktop-breakpoint) {
    display: block;
  }

  & > div {
    margin-right: 100px;
  }
}
