@use "sass:math";

@use "../vars" as *;
@use "../mixins" as *;

.schedule {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: .75em;
  --slot-size: #{$schedule-size + 0.75em};
}

.schedule-slots {
  display: grid;
  grid-template-rows: 4em;
  grid-auto-rows: $schedule-size;
  grid-template-columns: repeat(5, 14em);
  gap: 0.5em;

  overflow-x: scroll;
}

.schedule-track-title {
  grid-row: 1;
  justify-self: center;
  align-self: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.1em 0.1em;
  line-height: 1.5;
  text-align: center;
  
  span {
    border-bottom: 3px solid $orange-1;
  }
}

.timeline {
  position: absolute;
  height: 3px;
  background: $orange-1;
  left: 0;
  right: 0;

  &::after {
    content: attr(data-label);
    position: absolute;
    right: 0;
    background: $orange-1;
    width: 4em;
    line-height: 2em;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  &::before {
    content: '';
    position: absolute;
    right: 4em;
    width: 2em;
    height: 2em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background: $orange-1;
  }
}

