@import "../vars";
@import "../mixins";

.schedule {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: 0px;
}

.schedule-slots {
  display: grid;
  grid-auto-rows: 75px;
  @include mobile {
    grid-template-columns: repeat(5, $mobile-breakpoint * 1/2);
    grid-auto-rows: 75px;
  }
  @include tablet {
    grid-template-columns: repeat(5, 50%);
    grid-auto-rows: 75px;
  }
  @include bigTablet {
    grid-template-columns: repeat(1, 30%);
    grid-auto-rows: 75px;
  }
  @include desktop {
    grid-template-columns: repeat(5, $desktop-breakpoint * 1/3);
  }
  @include bigDesktop {
    grid-template-columns: repeat(5, $desktop-breakpoint * 3.5/10);
  }
  overflow-x: scroll;
}
