@use "sass:math";

@import "../vars";
@import "../mixins";

.schedule {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: 0px;
}

.schedule-slots {
  display: grid;
  grid-auto-rows: 75px;
  grid-template-columns: repeat(6, math.div($mobile-breakpoint, 2));

  overflow-x: scroll;
}
