@import "../../../vars";

.areabadge {
  text-align: center;
  font-size: 1.4em;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 130px;
}

.a {
  background-color: $area-a-bg;
  color: black;
}

.b {
  background-color: $area-b-bg;
  color: black;
}

.c {
  background-color: $area-c-bg;
  color: black;
}
