.bigBoothBadge {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.9em;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba(233, 198, 175, 255);
  color: rgb(0, 0, 0);
}
