@import "../../../vars";

.bigBoothBadge {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50%;
  background-color: $big-booth-bg;
  color: rgb(0, 0, 0);
}
