@use "../../mixins" as *;
@use "../../vars" as *;

.companies {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  row-gap: 40px;
  justify-items: center;
  @include tablet {
    grid-template-columns: auto auto auto;
  }
  @include mobile {
    grid-template-columns: auto auto;
  }
  @include darkModeBackground($white-1, $white-1);
}

a.company-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 80%;
  height: 120px;
}

img.company-logo-image {
  object-fit: contain;
  width: 80%;
  text-align: center;
  position: relative;
  display: block;

  &:before {
    position: absolute;
    background: $orange-2;
    padding: 1em;
    background-size: contain;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

