@import "mixins";
@import "vars";

.companies {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-items: center;
  @include tablet {
    grid-template-columns: auto auto auto;
  }
  @include mobile {
    grid-template-columns: auto auto;
  }
}
