@import "../../vars";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height * 2;
}

.footer-icon {
  &:last-of-type {
    margin-right: 0;
  }
  &:first-of-type {
    margin-left: 0;
  }
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-content: center;
  &:hover {
    opacity: 1;
  }
  margin-left: 10px;
  margin-right: 10px;
  min-width: 44px;
  min-height: 44px;
  color: $orange-2;
  font-size: 2.8em;
}

.footer-links {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange-1;
}

.footer__top-triangle {
  display: block;
  height: $footer-height;
  width: 100%;
  .footer__top-triangle-fill {
    fill: $orange-2;
  }
}
