@import "../../vars";

.logo-container {
  display: block;
  height: auto;
  width: 100%;
}
.bottom-fill-orange-1 {
  fill: $orange-1;
}
.bottom-fill-orange-2 {
  fill: $orange-2;
}
.logo-1 {
  font-family: "Big John";
  font-size: 3.5rem;
  fill: $orange-2;
  transform: rotate(-5deg);
}
.logo-2 {
  font-family: "Big John";
  font-size: 3.5rem;
  fill: $orange-1;
  transform: rotate(-5deg);
}
.logo-image {
  transform: rotate(-5deg);
}
