@import "../../vars";

.logo-wrapper {
  aspect-ratio: 1440 / 290;
  width: 100dvw;
  overflow: hidden;

  @media (max-width: $tablet-breakpoint) {
    aspect-ratio: 720 / 290;
  }
}

.logo-container {
  display: block;
  height: auto;
  width: 100vw;
  overflow: hidden;
  text-transform: uppercase;

  @media (max-width: $tablet-breakpoint) {
    transform-origin: 0 0;
    transform: scale(200%);
    margin-bottom: 25%;
  }
}
.bottom-fill-orange-1 {
  fill: $orange-1;
}
.bottom-fill-orange-2 {
  fill: $orange-2;
}
.logo-1,
.logo-2,
.logo-3 {
  font-family: "Big John";
  transform: rotate(-5deg);
}
.logo-1,
.logo-2 {
  font-size: 3.5rem;
}
.logo-1 {
  fill: $orange-2;
}
.logo-2, .logo-3 {
  fill: $orange-1;
}
.logo-3 {
  font-size: 2.5rem;
}
.logo-image {
  transform: rotate(-5deg);
}

.logo-registration-text {
  font-family: "Big John";
  transform: rotate(-5deg);
  font-size: 2rem;
  fill: $orange-2;
  position: relative;
  transition-duration: 200ms;
  font-variant-numeric: tabular-nums;
}

.logo-registration-text:hover {
  transform: rotate(-5deg) translateX(20px);
}

.logo-countdown {
  font-family: "Big John";
  transform: rotate(-5deg);
  font-size: 2rem;
  fill: $orange-2;
  position: relative;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.logo-countdown-unit {
  font-size: 0.75em;
  opacity: 0.75;
}
