@import "../../vars";
@import "../../mixins";

$nav-breakpoint: 1300px;

.nav-link {
  white-space: nowrap;
}

.navigation {
  display: grid;
  width: 100vw;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: $nav-height;
  align-items: center;
  background-color: $orange-1;
  color: $orange-2;
  padding: 0 1em;
  font-size: 1.5rem;

  &.open {
    .navigation-toggle {
      min-width: 50dvw;
    }
  }
}

.navigation-icon-wrapper {
  width: 3rem;
  text-align: center;
  display: inline-block;

  @media (max-width: $nav-breakpoint) {
    margin-right: 0.5em;
  }
}

.navigation-toggle {
  grid-column-start: 1;
  display: none;
  margin-left: -1em;
  padding: 0 1em;
  min-width: 0;
  transition-property: min-width;
  transition-duration: 200ms;

  &:hover {
    background-color: lighten($orange-1, 5);
  }

  @media (max-width: $nav-breakpoint) {
    display: block;
  }
}

.localization-button {
  text-transform: uppercase;
  background: none;
  border: 2px solid $orange-2;
  line-height: calc(2em - 2 * 2px);
  padding: 2px;

  div {
    display: inline-block;
    padding: 0 0.4em;
    text-align: center;
    font-weight: bold;
    color: $orange-2;
    width: 2.25em;

    &.active {
      background-color: $orange-2;
      color: $orange-1;
    }
  }
}

.navigation:not(.open) .navigation-link-container {
  @media (max-width: $nav-breakpoint) {
    height: 0;
  }
}

.navigation-link-container {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  transition-property: height;
  transition-duration: 200ms;

  @media (max-width: $nav-breakpoint) {
    height: #{3em * 6};
    grid-column: 1 / span 3;
    width: calc(100% + 2em);
    flex-direction: column;
    justify-self: start;
    align-items: start;
    margin-left: -1em;
  }

  & > li {
    align-self: stretch;
    
    a {
      padding: 0 1em;
      display: block;
      height: $nav-height;
      line-height: $nav-height;
    }

    &:hover {
      background-color: lighten($orange-1, 5);
    }
  }

  a {
    color: inherit;
  }
}

.localization-button {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}
