@import "vars";
@import "mixins";

.navigation {
  z-index: 4;
  height: $nav-height;
  background-color: $orange-1;
  display: flex;
  align-items: center;
  justify-content: center;

  a,
  a:visited,
  a:active,
  a:hover {
    color: $orange-2;
    font-weight: bold;
    font-size: 1.5em;
    @include tablet {
      font-size: 0.8em;
    }
    @include mobile {
      font-size: 0.8em;
    }
    @include desktop {
      font-size: 1em;
    }
    &.current {
      text-decoration: underline;
    }
  }
}

.navigation-link-container {
  width: $base-width-desktop;

  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: $tablet-base-width;
  }
  @include desktop {
    width: $desktop-base-width;
  }
  @include bigDesktop {
    width: $big-desktop-base-width;
  }

  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  li {
    display: inline-block;
    @include mobile {
      display: block;
      width: 100%;
    }
    @include mobile {
      .nav-link {
        display: none;
      }
    }
    &.menu-toggle-container {
      display: none;
      @include mobile {
        display: inline-block;
      }
    }
  }
}

.navigation-menu-toggle {
  color: $orange-2;
  font-weight: bold;
  font-size: 1.5em;
}

.navigation-toggle {
  display: none;
  &:checked {
    & + #navigation {
      height: 100%;
    }
    & + .navigation .navigation-link-container {
      display: block !important;
      & li {
        display: block;
        width: 100%;
        padding: 20px;
        height: 80px;
        & .nav-link {
          display: block;
        }
      }
    }
  }
}
