@import "../../mixins";
@import "../../vars";

// Speed rekry grid styling
.speedRekryGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    grid-template-columns: auto;
  }
}