$min-width-browser: 900px;
$max-width-browser: 800px;

.page {
  padding: 20px 0 20px 0;
  @media only screen and (min-width: $min-width-browser) {
    margin-left: auto;
    margin-right: auto;
    width: $min-width-browser;
  }
  @media only screen and (max-width: $max-width-browser) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.usePadding {
  padding-left: 15px;
  padding-right: 15px;
}

.noTopPadding {
  padding-top: 0px;
}

.noBottomPadding {
  padding-bottom: 0px;
}

.fullWidthPage {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  // For debugging
  // background-color: red;
}
