@import "../vars";
@import "../mixins";

$offset: 4px;

.registrationButton {
  display: block;
  width: 600px;
  height: 70px;
  margin-bottom: 10px;
  @include mobile {
    width: 100%;
    height: 60px;
  }
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.registrationDisabled {
  user-select: none;
  text-transform: none;
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    text-transform: none;
    cursor: default;
  }

  .bg1 {
    background-color: $orange-1;
  }

  .bg2 {
    background-color: $orange-2;
  }
}

.bg1 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{$offset});
  height: calc(100% - #{$offset});
  background-color: $orange-1;
}

.bg2 {
  z-index: 0;
  position: absolute;
  top: $offset;
  left: $offset;
  width: calc(100% - #{$offset});
  height: calc(100% - #{$offset});
  background-color: $orange-2;
}

.buttonText {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{$offset});
  height: calc(100% - #{$offset});
  z-index: 3;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  text-transform: none;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.buttonParagraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
