@font-face {
  font-family: "Big John";
  // src: url("/fonts/BIG_JOHN.otf");
  src: url("/fonts/BigJohnPRO-Bold.otf"),
       url("/fonts/BigJohnPRO-Normal.otf"),
       url("/fonts/BigJohnPRO-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "TW Cen MT";
  src: url("/fonts/TCM_v2.ttf");
  font-display: swap;
}
