@mixin mobile {
  @media (max-width: $tablet-breakpoint - 1) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint + 1) and (max-width: $big-desktop-breakpoint) {
    @content;
  }
}
@mixin bigDesktop {
  @media (min-width: $big-desktop-breakpoint + 1) {
    @content;
  }
}
@mixin darkModeFont($lightColor, $darkColor) {
  color: $lightColor;
  @media (prefers-color-scheme: dark) {
    color: $lightColor;
  }
}
@mixin darkModeBackground($lightColor, $darkColor) {
  background-color: $lightColor;
  @media (prefers-color-scheme: dark) {
    background-color: $lightColor;
  }
}
