$orange-1: #f58020;
$orange-2: #fed3ac;
$white-1: #ffffff;
$black-1: #000000;
$gray-1: #666666;
$gray-2: #8e9b90;
$green-1: #b7b3a1;
$vanilla-1: #d1ca98;
$gold-1: #edbf85;
$gold-2: #f1bf98;
$bone-1: #e1f4cb;
$wuzzy-1: #c97064;
$dark-1: #212121;

$base-width-desktop: 63%;
$big-desktop-breakpoint: 1800px;
$desktop-breakpoint: 1024px;
$mobile-breakpoint: 512px;
$tablet-breakpoint: 768px;

$footer-height: 60px;
$nav-height: 70px;
$logo-height: 230px;

$big-desktop-base-width: 950px;
$desktop-base-width: 820px;
$tablet-base-width: 650px;
$mobile-base-width: 400px;
