@use "sass:math";

$orange-1: #f58020;
$orange-2: #fed3ac;
$white-1: #ffffff;
$black-1: #000000;
$gray-1: #666666;
$gray-2: #8e9b90;
$green-1: #b7b3a1;
$vanilla-1: #d1ca98;
$gold-1: #edbf85;
$gold-2: #f1bf98;
$bone-1: #e1f4cb;
$wuzzy-1: #c97064;
$dark-1: #212121;
$yellow-1: #ffdd55;

$area-a-bg: rgba(245, 128, 32, math.div(200,255));
$area-b-bg: rgba(201, 112, 100, math.div(203,255));
$area-c-bg: rgba(212, 0, 85, math.div(130,255));
$big-booth-bg: rgba(233, 198, 175, math.div(255,255));

$base-width-desktop: 63%;
$navbar-width-desktop: 80%;
$big-desktop-breakpoint: 1800px;
$desktop-breakpoint: 1024px;
$big-tablet-breakpoint: 900px;
$tablet-breakpoint: 720px;
$mobile-breakpoint: 400px;

$footer-height: 60px;
$nav-height: 3em;
$logo-height: 230px;

$big-desktop-base-width: 950px;
$desktop-navbar-width: 1000px;
$desktop-base-width: 820px;
$tablet-base-width: 650px;
$mobile-base-width: 400px;
