@import "vars";
@import "fonts";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $orange-1;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

html,
body {
  font-family: "TW Cen MT", monospace;
  font-size: 14pt;
}

body {
  background-color: $white-1;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-1;
  }
}

#root {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 2 * $footer-height;
}

.app-statistics {
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include tablet {
    width: $tablet-base-width;
  }
  @include desktop {
    width: $desktop-base-width;
  }
  @include bigDesktop {
    width: $big-desktop-base-width;
  }
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .single-stat {
    @include darkModeFont($gray-1, $white-1);
    &_main {
      font-weight: bold;
      font-size: 3em;
      margin-right: 12px;
    }
    &_secondary {
      sup {
        font-size: 0.5em;
      }
    }
  }
}

.app-section {
  @include darkModeFont($black-1, $white-1);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include tablet {
    width: $tablet-base-width;
  }
  @include desktop {
    width: $desktop-base-width;
  }
  @include bigDesktop {
    width: $big-desktop-base-width;
  }

  h1 {
    font-weight: normal;
    @include mobile {
      font-size: 1.8em;
    }
    @include tablet {
      font-size: 1.9em;
    }
    @include desktop {
      font-size: 1.9em;
    }
    @include bigDesktop {
      font-size: 2.4em;
    }
  }
  h2 {
    font-weight: normal;
    @include mobile {
      font-size: 1.4em;
    }
    @include tablet {
      font-size: 1.5em;
    }
    @include desktop {
      font-size: 1.5em;
    }
    @include bigDesktop {
      font-size: 2em;
    }
  }
  h3 {
    font-weight: normal;
    @include mobile {
      font-size: 1.2em;
    }
    @include tablet {
      font-size: 1.3em;
    }
    @include desktop {
      font-size: 1.3em;
    }
    @include bigDesktop {
      font-size: 1.8em;
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  line-height: 1.6;

  ul.event-info {
    list-style-type: none;
    li {
      &:first-child {
        padding-top: 0;
      }
      padding-top: 5px;
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.event-contents-block {
  position: relative;
  color: black;
  background-color: $orange-2;
  padding: 30px;
  ul {
    list-style-type: square;
  }
}

.event-info-title {
  display: inline-block;
  text-align: center;
  width: 40px;
}

.registration-notification {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: $orange-1;
}

.event-full-description-container {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.event-speakers-container {
  list-style-type: square;
  margin-top: 10px;
  margin-left: 60px;
}

.all-companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.all-companies-list--company {
  align-self: center;
  justify-self: center;
  @include darkModeFont($black-1, $white-1);
  @include darkModeBackground(#0000001a, rgba(255, 255, 255, 0.1));
  padding-right: 5px;
  white-space: nowrap;
}

.all-companies-filter {
  background-color: transparent;
  border: 2px solid $orange-1;
  @include darkModeFont($black-1, $white-1);
  font-size: 1.4em;
  padding-left: 15px;
  height: 56px;
  width: 50%;
}
