@import "vars";
@import "fonts";
@import "mixins";

html {
  font-size: 100%;
  font-family: "TW Cen MT", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $orange-1;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

body {
  @include darkModeBackground($white-1, $dark-1);
}

#root {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 2 * $footer-height;
}

.app-statistics {
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include tablet {
    width: $tablet-base-width;
  }
  @include desktop {
    width: $desktop-base-width;
  }
  @include bigDesktop {
    width: $big-desktop-base-width;
  }
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .single-stat {
    @include darkModeFont($black-1, $white-1);
    &_main {
      font-weight: bold;
      font-size: 3em;
      margin-right: 12px;
    }
    &_secondary {
      sup {
        font-size: 0.5em;
      }
    }
  }
}

.app-section {
  @include darkModeFont($black-1, $white-1);
  font-size: 1.3rem;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  &.hero-section {
    display: flex;

    @include mobile {
      flex-direction: column;
      gap: 1em;
    }

    @include tablet {
      flex-direction: column;
      gap: 1em;
    }

    @include bigTablet {
      gap: 1em;
    }

    @include desktop {
      gap: 3em;
    }

    @include bigDesktop {
      gap: 5em;
    }
  }

  @include mobile {
    width: auto;
    margin: 0 1em;
  }
  @include tablet {
    width: $tablet-base-width;
  }
  @include desktop {
    width: $desktop-base-width;
  }
  @include bigDesktop {
    width: $big-desktop-base-width;
  }

  h1 {
    position: relative;
    width: max-content;
    margin-bottom: .5em;
    max-width: 100%;

    span {
      border-bottom: .125em solid $orange-1;
    }

    font-weight: bolder;
    @include mobile {
      font-size: 1.9rem;
    }
    @include tablet {
      font-size: 2.1rem;
    }
    @include desktop {
      font-size: 2.1rem;
    }
    @include bigDesktop {
      font-size: 2.5rem;
    }
  }
  h2 {
    font-weight: bolder;
    @include mobile {
      font-size: 1.5rem;
    }
    @include tablet {
      font-size: 1.6rem;
    }
    @include desktop {
      font-size: 1.6rem;
    }
    @include bigDesktop {
      font-size: 2.1rem;
    }
  }
  h3 {
    font-weight: bolder;
    @include mobile {
      font-size: 1.3rem;
    }
    @include tablet {
      font-size: 1.4rem;
    }
    @include desktop {
      font-size: 1.4rem;
    }
    @include bigDesktop {
      font-size: 1.9rem;
    }
  }
  h4 {
    font-weight: bolder;
    @include mobile {
      font-size: 1.1rem;
    }
    @include tablet {
      font-size: 1.2rem;
    }
    @include desktop {
      font-size: 1.2rem;
    }
    @include bigDesktop {
      font-size: 1.7rem;
    }
  }
  h5 {
    font-weight: bolder;
    @include mobile {
      font-size: 0.9rem;
    }
    @include tablet {
      font-size: 1.0rem;
    }
    @include desktop {
      font-size: 1.0rem;
    }
    @include bigDesktop {
      font-size: 1.5rem;
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  line-height: 1.6;

  ul.event-info {
    list-style-type: none;
    li {
      &:first-child {
        padding-top: 0;
      }
      padding-top: 5px;
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.event-contents-block {
  position: relative;
  color: black;
  background-color: $orange-2;
  padding: 30px;

  ul {
    padding-left: 10px;
    list-style-type: square;
  }
}

.event-info li {
  display: flex;
}

.event-info-title {
  display: inline-block;
  text-align: center;
  align-self: baseline;
  white-space: nowrap;
  color: $orange-1;
  width: 2em;
  margin-right: 0.5em;
  flex-shrink: 0;
}

.registration-notification {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: $orange-1;
}

.event-full-description-container {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.event-speakers-container {
  list-style-type: square;
  margin-top: 10px;
  margin-left: 60px;
}

.all-companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.all-companies-list--company {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  @include darkModeFont($black-1, $white-1);
  @include darkModeBackground(#0000001a, rgba(255, 255, 255, 0.1));
}

.all-companies-list--company-name {
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.all-companies-filter {
  background-color: transparent;
  border: 2px solid $orange-1;
  @include darkModeFont($black-1, $white-1);
  font-size: 1.4em;
  padding-left: 15px;
  height: 56px;
  width: 50%;
}

.hero-action {
  overflow: hidden;
  color: black;
  background: $orange-2;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 4.5em;
  padding-left: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover i {
    width: 3em;
    margin-left: 1em;
  }

  i {
    display: flex;
    background: $orange-1;
    align-self: stretch;
    font-size: 1.5em;
    color: $orange-2;
    align-items: center;
    width: 2em;
    justify-content: center;
    position: relative;
    transition-property: width margin-left;
    transition-duration: 200ms;
    margin-left: 2em;
    flex-shrink: 0;

    @include mobile {
      margin-left: 0;
    }

    &::after {
      content: '';
      background: $orange-1;
      position: absolute;
      right: 100%;
      width: .5em;
      height: 100%;
      clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    }
  }

  .hero-action-text {
    font-size: 2rem;
    font-weight: bold;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  .hero-action-subtitle {
    margin-top: -0.5em;

    @include mobile {
    margin-top: -0.25em;
      font-size: 1.1rem;
    }
  }
}

.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
